.advantages {
  padding-top: 0;
  @media(max-width: 991px){
    padding-bottom: 0;
  }
  .contentCard.accordionItem p {
    max-width: calc(100% - 40px);
    @media(max-width: 991px){
      font-size: 13px;
      line-height: 19px;
    }
  }
}
.advantagesImgSm {
  max-height: 460px;
  margin-top: -30px;
}