.exp {
  overflow: hidden;
  @media(max-width: 991px){
    padding-bottom: 20px;
  }
  @media(max-width: 575px){
    padding-bottom: 10px;
  }
  &Title {
    max-width: 500px;
  }
  &Card {
    background: #D8835E;
    color: #FEFAF8;
    border-radius: 20px;
    padding: 45px 49px 40px 49px;
    font-weight: 500;
    min-height: 308px;
    font-size: 21px;
    line-height: 31px;
    @media(max-width: 1199px){
      padding-bottom: 30px;
      padding-top: 30px;
      font-size: 18px;
      line-height: 28px;
    }
    @media(max-width: 991px){
      min-height: auto;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    span {
      color: #000;
    }

  }
  &Nav {
    column-gap: 20px;
    display: flex;
    @media(max-width: 575px){
      display: none;
    }
    &W {
      margin-top: 18px;
      @media(max-width: 991px){
        margin-top: 16px;
      }
    }
    &Title {
      font-style: italic;
      font-weight: 500;
      color: #D8835E;
      font-size: 21px;
      line-height: 31px;
      @media(max-width: 991px){
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  &Slider {
    @media(max-width: 991px){
      margin-bottom: 30px;
    }
    @media(max-width: 575px){
      padding-right: 60px;
      overflow: visible;
      padding-left: 20px;
    }
  }
  &Slide {
    img {
      height: 308px;
      width: 100%;
      object-fit: cover;
      border-radius: 20px;
      @media(max-width: 575px){
        height: 55vw;
      }
    }
  }
}