.newsSliderW {
  padding-bottom: 60px;
  padding-top: 60px;
  @media(max-width: 991px){
    padding-bottom: 35px;
  }
}

.news {
  padding-bottom: 60px;

  &Slider {
    overflow: visible;
    @media(max-width: 575px){
      padding-right: 60px;
    }
  }

  &Slide {
    height: auto;
    display: grid;
    grid-template-rows: 380px auto;

    @media(max-width: 1199px) {
      height: 100%;
    }

    &Image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        transition: opacity .2s linear;

        &:hover {
          opacity: .8;
        }
      }
    }

    &Date {
      font-size: 13px;
      line-height: 19px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.10);
      padding-top: 4px;
      padding-bottom: 4px;
      padding-right: 12px;
      padding-left: 12px;
      width: fit-content;
      margin-bottom: 18px;
    }

    &Text {
      margin-bottom: 18px;
      @media(max-width: 991px){
        font-size: 13px;
        line-height: 19px;
      }
    }

    &Content {
      padding: 30px 18px 20px;
      background: rgba(255, 255, 255, 0.10);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;


    }

    &Title {
      letter-spacing: 0.48px;
      transition: opacity .2s linear;

      @media(max-width: 1199px) {
        font-size: 21px;
        line-height: 30px;
      }
      @media(max-width: 991px){
        font-size: 18px;
        line-height: 21px;
      }

      &:hover {
        opacity: .8;
      }
    }
  }
}

.events {
  padding-bottom: 120px;

  @media(max-width: 991px) {
    padding-top: 25px;
    padding-bottom: 20px;
  }
}