.trainer {
  padding-top: 60px;
  padding-bottom: 60px;
  &Slider {
    margin-top: 40px;
    overflow: visible;
  }
  &Slide {
    height: auto;
    display: grid;
    grid-template-rows: 350px auto;
    &Img {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 350px;
      width: 100%;
      object-fit: cover;
    }

    &Content {
      padding: 30px;
      background: rgba(255, 255, 255, 0.10);
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
   
    }
  }
}